<div *ngIf="propiedad" class="detalle-propiedad">
  <h1>{{ propiedad.titulo }}</h1>
  <img [src]="propiedad.imagen" alt="{{ propiedad.titulo }}">
  <p><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
  <p><strong>Precio:</strong> {{ propiedad.precio | currency:'EUR' }}</p>
  <p><strong>Ubicación:</strong> {{ propiedad.ubicacion }}</p>
  
  <a routerLink="/pago">Comprar Casa</a>
  <a routerLink="/catalogo" class="btn-volver">Volver</a>
</div>

<div *ngIf="!propiedad">
  <p>Cargando propiedad...</p>
</div>
