<div class="login-container">
  <div class="login-box">
    <h2>Registro</h2>
    <form>
      <input type="email" placeholder="Correo electrónico" required />
      <input type="password" placeholder="Contraseña" required />
      <input type="password" placeholder="Repite la contraseña" required />
      <button type="submit">Registrarse</button>
    </form>
    <p style="margin-top: 1rem;">
      ¿Ya tienes una cuenta?
      <a routerLink="/iniciar-sesion" style="color: #4da3ff;">Inicia sesión</a>
    </p>
  </div>
</div>
