<section class="hero">
  <div class="overlay">
    <div class="content">
      <h1>Bienvenido a LM Inmobiliaria</h1>
      <p>Donde el diseño se encuentra con el lujo.</p>
      <button [routerLink]="'/catalogo'">Explorar propiedades</button>
    </div>
  </div>
</section>

<section class="about">
  <div class="about-content">
    <h2>Tu nuevo hogar está aquí</h2>
    <p>En LM Inmobiliaria, nos especializamos en ofrecer propiedades de lujo que cumplen con los más altos estándares de calidad y diseño. Descubre lo mejor del mercado inmobiliario.</p>
    <button routerLink="/sobre-nosotros">Conócenos</button>
  </div>
</section>


<section class="grid">
  <div class="card">
    <img class="card-img" src="/assets/images/apartamento.jpeg" alt="Propiedad 1" />
    <div class="card-content">
      <h3 class="card-title">Apartamento con Vista al Mar</h3>
      <p class="card-description">Hermoso apartamento con terraza y vistas panorámicas al océano.</p>
      <p class="card-price">$2,500,000</p>
      <p class="card-location">Miami, FL</p>
      <div class="card-button-container">
        <button class="card-button" [routerLink]="'/detalle/2'">Ver más</button> 
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img" src="/assets/images/villa.jpeg" alt="Propiedad 2" />
    <div class="card-content">
      <h3 class="card-title">Villa de Lujo</h3>
      <p class="card-description">Exclusiva villa con piscina privada y amplios jardines.</p>
      <p class="card-price">€7,500,00</p>
      <p class="card-location">New York, NY</p>
      <div class="card-button-container">
        <button class="card-button" [routerLink]="'/detalle/5'">Ver más</button>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img" src="/assets/images/chalet.jpeg" alt="Propiedad 3" />
    <div class="card-content">
      <h3 class="card-title">Chalet en las Afueras</h3>
      <p class="card-description">Chalet rústico con gran terreno, ideal para familias grandes.</p>
      <p class="card-price">$3,200,000</p>
      <p class="card-location">Los Angeles, CA</p>
      <div class="card-button-container">
        <button class="card-button" [routerLink]="'/detalle/3'">Ver más</button>
      </div>
    </div>
  </div>
</section>
